@{
    ViewData["Title"] = "Get to Know Joel";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links and Image</title>
</head>
<body>

    <!-- Quick Wits Comedy -->
    <p><a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a> </p>

    <!-- Baconsale -->
    <p><a href="https://baconsale.com/" target="_blank">Baconsale Site</a></p>

    <!-- Image that links to Baconsale -->
    <p>
        <a href="https://baconsale.com/" target="_blank">
            <img src="~/BaconsaleKate.jpg" alt="Baconsale" height="150">
        </a>
    </p>

</body>
</html>

